html, body {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    background-size: 90%;
    background-image: url(../image/back1.jpg);
    background-color:rgba(0,0,0,0.5)
}

header {
    background-color: dimgrey;
    text-align: center;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#links li {
    color: rgba(255, 255, 255, 0.75);
    background-color: #222222;
}

.footer_content {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: rgba(255, 255, 255, 0.75);
    background-color: #222222;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 2rem;
}

.foodHeader h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
    background: rgba(255,255,255,.5);
	  width:24%;
    margin-left: auto;
    margin-right: auto;
}

/*********index.html************/
.newinput {
	margin-left: 5px;
}

.join {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.userfff{
    border-radius: 15px;
    height: 500px;
    background-color: white;/*#F9BF45;*/
    background: rgba(255,255,255,.5);
    width: 40%;
    margin-left: auto;

}

.userInput {
    border-radius: 15px;
    height: auto;
    background: rgba(255,255,255,.5);
    width: 40%;
    margin-right: auto;
    margin-left: auto;
	}

.newInput {
  text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

.userInput input {
    width: 200px;
}

.userInput{
    text-align: center;
}

.userInput #result {
	text-align:center;
}

header {
    background-color: dimgrey;
    text-align: center;
}

/***********choices.html**************/
#block1, #block2, #block3, #block4 {
    border-radius: 15px;
    background: rgba(255,255,255,.5);
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-left:30px;
    padding-right: 30px;
}

#block1 h2, #block2 h2, #block3 h2, #block4  h2{
  margin-bottom: 10px;
  padding: 0;
}

#block1 form, #block2 form, #block3 form, #block4  form {
	width:100px;
  margin: auto;
  text-align: left;
}

#block1 input, #block2 input, #block3 input, #block4  input {
  margin-bottom:10px;
}

.blank{
	height:500px;	
}

.submit { /*Submit button*/
  margin-top:5px;
  margin-left: 20px;
}

table h2 {
    padding: 1em;
    text-align: center;
}

table {
    vertical-align: middle;
	    margin-right: auto;
    margin-left: auto;
}

table td {
  height:220px;
  width: 330px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    display: block;
}

#pagetitle {
    color: white;
    font-size: 40px;
    width: 170px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 7px;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

.word {
  font-family: "Bangers", cursive;
}

svg {
  height: 100%;
  width: 100%;
  position: relative;
  top: -1rem;
  -webkit-animation: pop-out 2s ease-in-out infinite;
          animation: pop-out 2s ease-in-out infinite;
}

.word {
  font-family: "Bangers", cursive;
  letter-spacing: 0.05em;
  color: white;
  padding: 0.5em;
  font-size: 28px;
}
@media (min-width: 480px) {
  .word {
    font-size: 36px;
  }
}
@media (min-width: 640px) {
  .word {
    font-size: 48px;
  }
}
@media (min-width: 960px) {
  .word {
    font-size: 64px;
  }
}
@media (min-width: 1280px) {
  .word {
    font-size: 84px;
  }
}


@-webkit-keyframes pop-out {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
    opacity: 0;
  }
}

@keyframes pop-out {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
    opacity: 0;
  }
}
a, a:visited {
  color: inherit;
}

h3 {
    width:100%;
    text-align: center;
    margin-right: auto;
}

.btn {
    border-radius: 10px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #F9BF45;
    color: #ff7c5c;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn:active {
   box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
   transform: translateY(2px);
